
.sport-swiper {
    width: 350px;
    height: 300px;
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    // background-color: rgb(155, 180, 180);
    background-color: #fff;
  }
  
  
  .tour-pics img{
height: 100%;
width: 100%;
display: block;
  }
}
