
$primary-colors:#E62E2D;
$light-color:#F2ECFF;
$secondary-colors:#6369DC;
$accent-color:#654D8E;
$dark-color:#2F4858;
.process-label{
    position: relative;
    background-color: white;
    cursor: pointer;
    img{
        transition: all .3s ease-in-out;
    }
    &:hover{

        img{
            scale: 1.08;
        }
    }

    .label-1{
        position: absolute;
        width: 50px;
        height: 50px;
        transform: translate(-50%, 50%);
        bottom: 0;
        color: white;
        background-color: $primary-colors;
        line-height: 50px;
        border-radius: 50%;
    }
}

section.about{
    background: url(../../public/pics/pattern_shape_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    .about-us{
        color: $primary-colors;
    }
    .about-us-image{
        @media (max-width:400px) {
            width: 100%;
            height: 250px;
        }
        
    }
}
section.faq{
    background: url(../../public/pics/faq_bg_1.jpg);
    margin-block: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .faq_image{
        @media (max-width:500px) {
            width: 100%;
            height: 350px;
        }
    }
}

section.sport-engagement{
    .insta-link{
        max-width: 340px;
        margin: 10px auto;
        color: blue;
        font-size: 14px;
        text-align: center;
        a{
            text-decoration: underline;
        }
    }
}
section.services{
    .service-item{
        transition: all .3s ease-in-out;
        cursor: pointer;

        h3{
            color: $secondary-colors;
        }

        &:hover{
            scale: 1.03;
            border: 1px solid $secondary-colors !important;
        }
    }
}
.title-color{
    color: $primary-colors;
}

section.choose-us{
    .choose-feature-wrap{
        position: relative;
        z-index: 1;
        &::before{
            content: '';
            height: 60%;
            width: 1px;
            background-color: $primary-colors;
            position: absolute;
            top: 49px;
            left: 25px;
            z-index: -1
        }
      
    }
    .choose-features{
        margin-bottom: 25px;

        .box-number{
     width: 50px;
    height: 50px;
   
    // line-height: 40px;
    color: white;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    background-color: $secondary-colors;
    // border: 3px solid $primary-colors;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

    .media-body{
        border-bottom: 1px solid rgb(186, 200, 202);

    }
    }

    
    .why-us-img{
        @media (max-width:700px) {
            &{

                width: 100%;
                height: 350px;
            }
            
        }
    }
}

section.team{
    background: url(../../public/pics/pattern_shape_1.png);
    margin-block: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px;
    cursor: pointer;
    .team-heading h3{
        color: $primary-colors;
    }
   
    .team-card{
        position: relative;
        &::before{
            width: 30px;
            height: 30px;
            background-color: red;
            content: '';
            z-index: -1;
            top: -4px;
            left: -4px;
            position: absolute;
        }
        &::after{
            width: 30px;
            height: 30px;
            background-color: $primary-colors;
            content: '';
            z-index: -1;
            bottom: -4px;
            right: -4px;
            position: absolute;
        }
    }
    
}
section.contact-us{
    background: url(../../public/pics/form-bg-img2.jpg);
    margin-block: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px;
    cursor: pointer;

    form{
        h2.head-text{
            color: $primary-colors;
        }
        button{
            background-color: $secondary-colors;
            padding: 10px;
            border-radius: 15px;
            outline: 0;
            border: 1px solid transparent;
            color: white;
        }
    }
}

.data-driven{
    p{
        position: relative;
       
       span.quote-up {
        position: absolute;
        top: -30px;
        left: -30px;
        transform: rotate(180deg);
       }
        .quote-down{
        position: absolute;
        bottom: -30px;
        right: -30px;
       }

    }
}
