
$primary-colors:#E62E2D;
$light-color:#F2ECFF;
$secondary-colors:#6369DC;
$accent-color:#654D8E;
$dark-color:#2F4858;

  
 .hero-cover {
    background: $secondary-colors url(/pics/herobg.png);
    padding: 20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:500px) {
      &{
        padding: 10px;
        text-align: center;
      }
    }
  }
  
 .appointment-arrow{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    border-color: transparent;
    .arrow{

        transform: rotate(-45deg);
    }
 }
  
 .hero-section{
  .image{
    .hero-image{
display: block;
margin: auto;
      @media (max-width:530px){
        &{
          width: 300px;
          height: 300px;
         

        }
      }
    }
    .span1 img{
      position: absolute;
      top: 45%;
      right: 20px;
      @media (max-width:530px){
        &{
          width: 50px;
          height: 50px;
      right: 0px;

         

        }
      }
    }
    .span2 img{
      position: absolute;
      top: 0%;
      left: -40px;
      z-index: -1;
      @media (max-width:530px){
        &{
          width: 300px;
          height: 200px;
         

        }
      }
    }
  }
  button.appointment{
    border: 3px solid $light-color;
    display: flex;
    background-color: $primary-colors;
    align-items: center;
    transition: all ease-in-out .2s;
    span{
      margin-left: 5px;
      border: 3px solid white;
      
    }
    &:hover{
      transform: translateY(-8px);
    }
  }
 }

 .nav-item{
  

  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $primary-colors;
    transition: .3s all ease-in-out;
  }
  &:hover::after{
width: 100%;
  }
 }

