
$primary-colors:#E62E2D;
$light-color:#F2ECFF;
$secondary-colors:#6369DC;
$accent-color:#654D8E;
$dark-color:#2F4858;
.footer {
    background-color: $secondary-colors;
    color: #ffffff;
    padding: 30px 0;
  }
  .footer a {
    color: #ffffff;
  }
  .footer a:hover {
    color: #cccccc;
  }
.whatsapp-fixed{
  animation: move .5s infinite alternate;
  cursor: pointer;
  z-index: 100;
}

@keyframes move {
  0% {
   scale: 1; /* Starting position */
  }
  100% {
   scale: 1.15; /* Starting position */

  }
}